@import url('satoshi.css');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Satoshi-Variable';
}

section {
  display: flex;
  gap: 2px;
  flex-wrap: wrap;
}

a {
  cursor: pointer;
}

.container {
  margin-inline: auto;
  max-width: 90%;
  padding-inline: 0.75rem;
}

.book {
  border: 2px solid black;
}
