*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Archivo';
}

.container {
  margin-inline: auto;
  max-width: 85%;
}

main {
  padding-block: 1rem;
}

#main-title {
  color: white;
  background-color: black;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  width: fit-content;
}

#display {
  display: flex;
  gap: 1rem;
}

section {
  padding: 1rem;
  background-color: rgb(222, 222, 222);
}

section div {
  background-color: rgb(199, 199, 199);
  padding: 0.5rem;
  margin-top: 4px;
}

h5 {
  margin-block: 0.4rem;
}

h4,
h5,
h6 {
  font-size: 1.2rem;
}
