*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Archivo';
}

section {
  display: flex;
  gap: 2px;
  flex-wrap: wrap;
}

.book {
  border: 2px solid black;
}

.delete-btn {
  cursor: pointer;
}
